<!DOCTYPE html>
<html lang="en">
<head>
  <title>Realizarreservaciones</title>
  <link rel="stylesheet" href="encomiendas.component.css">
</head>
<body>

<div class="main">
  <div class="navbar">
    <div class="icon">
      <h2 class="logo"><a href="home"> ArrowFast</a></h2>
    </div>

    <div class="menu">
      <ul>
        <li><a href="home">HOME</a></li>
        <li><a href="misreservaciones">Mis reservaciones</a></li>
        <li><a href="realizarreservaciones">Realizar reservacion</a></li>
        <li><a href="encomiendas">Encomiendas</a></li>
        <li><a href="ventasboletos">Venta de Boletos</a></li>
        <li><a href="#">Cerrar Sesion</a></li>
      </ul>
    </div>

  </div>
  <div class="grid-container">
    <h3>Encomiendas</h3>
    <div class="row">
      <div class="table01 col-12">
        <table class="table table-striped">
          <thead  class="borde">
          <tr>
            <th class="encabezado" scope="col">Tarifa</th>
            <th class="encabezado" scope="col">Peso</th>
            <th class="encabezado" scope="col">Tamaño</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let encomiendas of encomiendas01" >
            <th scope="row">{{encomiendas.tarifa}}</th>
            <td>{{encomiendas.peso}}</td>
            <td>{{encomiendas.metroCubico}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
  <div class="grid-container-form">
  <!--(ngSubmit)="validar()"-->
  <form class="encomiendas-form"  id="loginForm">
    <h3>Fragil</h3>
    <h3>Descripcion</h3>
    <h3>Peso</h3>
    <h3>Tarifa</h3>
    <h3>Tamaño</h3>
    <input type="text" placeholder="v o f" name="fagil" onfocus="this.value=''">
    <input type="text" placeholder="Descripcion" name="Descripcion" >
    <input type="text" placeholder="peso" name="user">
    <input type="text" placeholder="tarifa" name="password" >
    <input type="text" placeholder="menor a 1 metro cubico" name="user">
    <button class="boton-encomiendas"><h4>Ingresar</h4></button>
  </form>
  </div>
</div>
</body>
</html>
