body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 900px;
    background: linear-gradient(232deg, #393373, #9190d4);
    background-size: 400% 400%;

    -webkit-animation: bgAnimateBitcoin 5s ease infinite;
    -moz-animation: bgAnimateBitcoin 5s ease infinite;
    animation: bgAnimateBitcoin 5s ease infinite;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
nav{
  background: linear-gradient(232deg, #393373, #9190d4);
  border: none;
}


.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}


.form {
    display: flex;
    flex-direction: column;
}

.form div {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
    color: #e7f5ff;
}

.input {
  background-color: #F7F7F7;
  border: none;
  border-radius: 8px;
  height: 30px;
  font-size: 16px;
  padding: 30px;
  margin-bottom: 12px;
  width: 300px;
}

.input-first-name,
.input-second-name,
.input-first-last-name,
.input-second-last-name,
.input-phone {
    margin-bottom: 22px;
}

.primary-button {
    background: #9190d4;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    width: 300px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
}

.login-button {
    margin-top: 14px;
    margin-bottom: 30px;
}

@media (max-width: 640px) {
    .form-container {
        height: 100%;
    }
    .form {
        height: 100%;
        justify-content: space-between;
    }
}

@-webkit-keyframes bgAnimateBitcoin {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes bgAnimateBitcoin {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes bgAnimateBitcoin {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
