<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.component.css">
    <title>LOGIN</title>
</head>
<body>
<div class="body"></div>
<div class="grad"></div>
<div class="header">
  <div><a href="#"> Arrow<span>Fast</span></a></div>
</div>
<br>
<div class="form-body">
  <form class="login" (ngSubmit)="validar()" id="loginForm">
    <input type="text" placeholder="Usuario" name="user" [(ngModel)]="user.idUsuario" [ngModelOptions]="{standalone: true}" required><br>
    <input type="password" placeholder="password" name="password" [(ngModel)]="user.contrasenia" [ngModelOptions]="{standalone: true}" required><br>
    <button type="submit" class="prueba">Iniciar Sesión</button>
    <button  class="usercreation-loginpage"><a href="user-creation">Crear Usuario</a></button>
    <div *ngIf="usuarioInvalido" class="alert alert-danger prueba alerta" role="alert">
      El usuario o contraseña son incorrectas.
    </div>
  </form>
</div>
</body>

</html>