@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  font-family: Arial;
  font-size: 12px;
  background: url(https://besthqwallpapers.com/Uploads/8-3-2020/124199/thumb2-man-lions-city-18-g-4k-road-2020-buses-passenger-transport.jpg);
  background-position: center;
  background-size: cover;
}


.grad{
  position: absolute;
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  width: auto;
  height: auto;
  z-index: 1;
  opacity: 0.7;
}

.navbar{
  width: 100%px;
  height: 75px;
  margin: auto;
  background-color: rgba(48, 46, 46, 0.856);
  padding-right: 20px;
  margin-bottom: 100px;

}

.icon{
  width: 200px;
  float: left;
  height: 70px;
}

.logo{
  padding-left: 20px;
  float: left;
  padding-top: 10px;
  margin-top: 5px;
  
}

.icon a{
  text-decoration: none;
  color: #ff7200;
  font-size: 35px;
  font-family: Arial;
}

.menu{
  float: left;
  height: 70px;
}

ul{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li{
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}

ul li a{
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover{
  color: #ff7200;
}

.login{
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 50px);
  height: 150px;
  width: 350px;
  padding: 10px;
  z-index: 2;
}

.login input[type=text]{
  width: 250px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
}

.login input[type=password]{
  width: 250px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-top: 10px;
}

.prueba{
  width: 250px;
  height: 50px;
  background: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: #000000;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;

}

.alerta {
  display: block;
  background: #EF5350;
  margin: auto;
  border-color: #D50000;
  margin-top: 20px;
  color: #fff;
  text-align: center;
  width: 300px ;
  height: 80px;
  right: 40px;
}

.login input[type=button]:hover{
  opacity: 0.8;
}

.login input[type=button]:active{
  opacity: 0.6;
}

.login input[type=text]:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
  outline: none;
}

::-webkit-input-placeholder{
  color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
  color: rgba(255,255,255,0.6);
}
.form-body button{
  background-color: #f1bf95;
}

