<!DOCTYPE html>
<html lang="en">
<head>
  <title>Realizarreservaciones</title>
  <link rel="stylesheet" href="realizarreservaciones.component.css">
</head>
<body>

<div class="main">
  <div class="navbar">
    <div class="icon">
      <h2 class="logo"><a href="home"> ArrowFast</a></h2>
    </div>

    <div class="menu">
      <ul>
        <li><a href="home">HOME</a></li>
        <li><a href="misreservaciones">Mis reservaciones</a></li>
        <li><a href="realizarreservaciones">Realizar reservacion</a></li>
        <li><a href="#">Cerrar Sesion</a></li>
      </ul>
    </div>
    <!-- <div class="contenedor">
      <table class="table table-hover table-dark">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div> -->


  </div>
  <div class="grid-container">
    <h3>Reservacions y compras en linea</h3>
    <div class="projects-main-container">
        <article class="project-container">
            <h4>Bus</h4>
            <p></p>
        </article>
        <article class="project-container">
            <h4>Tipo de bus</h4>
            <p></p>
        </article>
        <article class="project-container">
            <h4>Horario de salida</h4>
            <p></p>
        </article>
        <article class="project-container">
            <h4>Tiempo estimado</h4>
            <p></p>
        </article>
    </div>
</div>
</div>
</body>
</html>
