<!DOCTYPE html>
<html lang="en">
<head>
  <title>Realizarreservaciones</title>
  <link rel="stylesheet" href="realizarreservaciones.component.css">
</head>
<body>

<div class="main">
  <div class="navbar">
    <div class="icon">
      <h2 class="logo"><a href="home"> ArrowFast</a></h2>
    </div>

    <div class="menu">
      <ul>
        <li><a href="home">HOME</a></li>
        <li><a href="misreservaciones">Mis reservaciones</a></li>
        <li><a href="realizarreservaciones">Realizar reservacion</a></li>
        <li><a href="encomiendas">Encomiendas</a></li>
        <li><a href="ventasboletos">Venta de Boletos</a></li>
        <li><a href="#">Cerrar Sesion</a></li>
      </ul>
    </div>

  </div>
  <div class="grid-container">
    <h3 class="encabezado01">Reservacions y compras en linea</h3>
<!--    <div class="projects-main-container">
        <article class="project-container">
            <h4>Bus</h4>
            <p></p>
        </article>
        <article class="project-container">
            <h4>Tipo de bus</h4>
            <p></p>
        </article>
        <article class="project-container">
            <h4>Horario de salida</h4>
            <p></p>
        </article>
        <article class="project-container">
            <h4>Tiempo estimado</h4>
            <p></p>
        </article>
      <tbody>
      <tr>
        <th scope="row"></th>
        <td>pruebas</td>
        <td>123</td>
        <td>154</td>
        <td class="center"></td>
      </tr>
      </tbody>
    </div>-->
    <div class="row">
      <div class="table01 col-6">
        <table class="table table-striped">
          <thead  class="borde">
          <tr>
            <th class="encabezado" scope="col">Bus</th>
            <th class="encabezado" scope="col">Pasajeros</th>
            <th class="encabezado" scope="col">Matricula</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let viaje of viajes01" >
            <th scope="row">{{viaje.descripcion}}</th>
            <td>{{viaje.pasajeros}}</td>
            <td>{{viaje.matricula}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="table02 col-6">
        <table class="table table-striped">
          <thead>
          <tr>
            <th class="encabezado" scope="col">Numero de ruta</th>
            <th class="encabezado" scope="col">Hora Salida</th>
            <th class="encabezado" scope="col">Hora Llegada</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let viaje of viajes02">
            <th scope="row">{{viaje.idRuta}}</th>
            <th scope="row">{{viaje.horaSalida}}</th>
            <th scope="row">{{viaje.horaLlegada}}</th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
<div class="grid-container-form">
  <!--(ngSubmit)="validar()"-->
  <form class="encomiendas-form"  id="loginForm">
    <h3>Bus</h3>
    <h3>Pasajeros</h3>
    <h3>Matricula</h3>
    <h3>Numero de Ruta</h3>
    <h3>Hora Salida</h3>
    <h3>Hora Llegada</h3>
    <input type="text" placeholder="v o f" name="fagil" onfocus="this.value=''">
    <input type="text" placeholder="Descripcion" name="Descripcion" >
    <input type="text" placeholder="peso" name="user">
    <input type="text" placeholder="tarifa" name="password" >
    <input type="text" placeholder="menor a 1 metro cubico" name="user">
    <input type="text" placeholder="menor a 1 metro cubico" name="user">
  </form>
  </div>
</div>
</body>
</html>
