<!DOCTYPE html>
<html lang="en">
<head>
  <title>Realizarreservaciones</title>
  <link rel="stylesheet" href="misreservaciones.component.css">
</head>
<body>

<div class="main">
  <div class="navbar">
    <div class="icon">
      <h2 class="logo"><a href="home"> ArrowFast</a></h2>
    </div>

    <div class="menu">
      <ul>
        <li><a href="home">HOME</a></li>
        <li><a *ngIf="menu3" href="misreservaciones">Mis reservaciones</a></li>
        <li><a *ngIf="menu2" href="realizarreservaciones">Realizar reservacion</a></li>
        <li><a *ngIf="menu4" href="encomiendas">Encomiendas</a></li>
        <li><a *ngIf="menu1" href="ventasboletos">Venta de Boletos</a></li>
        <li><a href="#">Cerrar Sesion</a></li>
      </ul>
    </div>

  </div>
  <div class="grid-container">
    <h3>Mis reservaciones</h3>
    <div class="row">
      <div class="table01 col-12">
        <table class="table table-striped">
          <thead  class="borde">
          <tr>
            <th class="encabezado" scope="col">Bus</th>
            <th class="encabezado" scope="col">Pasajero</th>
            <th class="encabezado" scope="col">Matricula</th>
            <th class="encabezado" scope="col">Numero ruta</th>
            <th class="encabezado" scope="col">Hora salida</th>
            <th class="encabezado" scope="col">Hora llegada</th>
          </tr>
          </thead>
          <tbody>
          <!--<tr *ngFor="let encomiendas of encomiendas01" >
            <th scope="row">{{encomiendas.tarifa}}</th>
            <td>{{encomiendas.peso}}</td>
            <td>{{encomiendas.metroCubico}}</td>
          </tr>-->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>
