<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <link rel="stylesheet" href="home.component.css">
</head>
<body>

<div class="main">
  <div class="navbar">
    <div class="icon">
      <h2 class="logo"><a href="home"> ArrowFast</a></h2>
    </div>

    <div class="menu">
      <ul>
        <li><a href="home">HOME</a></li>
        <li><a *ngIf="menu2" href="realizarreservaciones">Realizar reservacion</a></li>
        <li><a *ngIf="menu1" href="ventasboletos">Venta de Boletos</a></li>
        <li><a *ngIf="menu3" href="misreservaciones">Mis reservaciones</a></li>
        <li><a *ngIf="menu4"  href="encomiendas">Encomiendas</a></li>
        <li><a href="#">Cerrar Sesion</a></li>
      </ul>
    </div>


  </div>
  <div class="content">
    <h1>ArrowFast<br><span>La forma mas rapida</span> <br>y comoda para viajar</h1>
    <p class="par"></p>
  </div>


</div>
</body>
</html>
